<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuitionApp"
        tools:targetApi="31">
        <activity
            android:name=".StudentGenerateQR"
            android:exported="true" />
        <activity
            android:name=".TeacherLogin"
            android:exported="true" />
        <activity
            android:name=".StudentLogin"
            android:exported="true" />
        <activity
            android:name=".TeacherDashboard"
            android:exported="true"
            android:theme="@style/Theme.TuitionApp" />
        <activity
            android:name=".StudentDashboard"
            android:exported="true" />
        <activity
            android:name=".AdminRegister"
            android:exported="true" />
        <activity
            android:name=".AdminNav"
            android:exported="false"
            android:theme="@style/Theme.TuitionApp" />
        <activity
            android:name=".AdminNavigation"
            android:exported="false"
            android:theme="@style/Theme.TuitionApp" />
        <activity
            android:name=".TeacherRegister"
            android:exported="true" />
        <activity
            android:name=".AdminDashboard"
            android:exported="true" />
        <activity
            android:name=".StudentRegister"
            android:exported="true" />
        <activity
            android:name=".AdminLogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>